<div id="content" class="c-mF">
	<ul id="notices" class="message"></ul>
	<div id="main" style="visibility: visible;">
		<!-- Main area for content -->
		<div id="content-area">
			<div>
				<h1>JBoss BPM Suite Demos</h1>
				<img src="images/bpms.png" height="90%" width="60%">
				<ul>
						<li><h3><a href="http://www.jboss.org/products/bpmsuite/get-started" target="_blank">JBoss BPM Suite starter kit</a></h3></li>
						<li><h3><a href="https://github.com/jbossdemocentral?query=bpms" target="_blank">JBoss BPM Suite projects</a></h3></li>
						<li><h3><a href="https://github.com/jbossdemocentral?query=integration" target="_blank">JBoss BPM Suite integration projects</a></h3></li>
						<li><h3><a href="https://github.com/jbossdemocentral?query=cartridge" target="_blank">xPaaS BRMS & BPM projects</a></h3></li>
				</ul>
			</div>
		</div>
	</div>
</div>






