<div id="content" class="c-mF">
	<ul id="notices" class="message"></ul>
	<div id="main" style="visibility: visible;">
		<!-- Main area for content -->
		<div id="content-area">
			<div>
				<h1>JBoss BRMS Demos</h1>
				<img src="images/brms.png" height="30%" width="50%">
				<ul>
					<li><h3><a href="http://www.schabell.org/p/jboss-brms-starter-kit.html" target="_blank">JBoss BRMS starter kit</a></h3></li>
					<li><h3><a href="https://github.com/jbossdemocentral?query=brms" target="_blank">JBoss BRMS projects</a></h3></li>
					<li><h3><a href="https://github.com/jbossdemocentral?query=integration" target="_blank">JBoss BRMS integration projects</a></h3></li>
					<li><h3><a href="https://github.com/jbossdemocentral?query=cartridge" target="_blank">xPaaS BRMS & BPM projects</a></h3></li>
				</ul>
			</div>
		</div>

	</div>
</div>



